*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    height: 70%;
    background-color: rgba(202, 154, 154, 0.301);
    margin: auto;
    overflow: auto;
    font-size: 2rem;
}

.para{

    font-size: 0.5em;
}